/* ircd-ratbox Windows RSA Respond Tool
 * Copyright 2001
 * $Id$
 */
#include <windows.h>
#include "resource.h"

winrespond ICON respond.ico

IDD_DIALOG_MAIN DIALOG DISCARDABLE  0, 0, 500, 300
STYLE DS_MODALFRAME | DS_CENTER | WS_MINIMIZEBOX | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "ircd RSA Respond v0.4"
FONT 8, "MS Sans Serif"
BEGIN

  LTEXT         "Private Key File:",IDC_STATIC,5,35,55,14
  EDITTEXT      ID_KEY,70,30,110,14,ES_AUTOHSCROLL

  DEFPUSHBUTTON "Generate Response",ID_GEN,5,7,80,14

  PUSHBUTTON    "Exit",ID_OK,90,7,80,14
  LTEXT         "",ID_STATUS,5,230,180,14


  LTEXT		"RSA Challenge:",IDC_STATIC,5,55,55,14
  EDITTEXT	ID_CHAL,70,50,400,120,ES_AUTOHSCROLL|ES_AUTOVSCROLL|ES_MULTILINE

  LTEXT		"RSA Passphrase:",IDC_STATIC,5,190,70,14
  EDITTEXT	ID_PASS,70,185,80,14,ES_AUTOHSCROLL|ES_PASSWORD


  LTEXT		"Response:",IDC_STATIC,5,215,55,14
  EDITTEXT      ID_RESP,70,210,400,14,ES_AUTOHSCROLL|ES_READONLY

END

